<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    </head>
    <body>
        <div class="container">

            <div class="top-bar">
                {% if session['username'] %}
                    <p>logged in as <strong> {{ session['username'] }}</strong></p>
                    <a href="{{ url_for('logout') }}">Log out</a>
                
                {% else %}
                <p> logged out</p>
                {% endif %}

                <a href="{{ url_for('add_book') }}">Add Book</a>
            </div>
            <div class="content">
                {% block body %}
                {% endblock %}
            </div>
          
        </div>
    </body>
</html>
